<%= form_for(@lock_screen) do |f| %>
  <% if @lock_screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lock_screen.errors.count, "error") %> prohibited this lock_screen from being saved:</h2>

      <ul>
      <% @lock_screen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
