<a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
<img src="../assets/global/images/avatars/user1.png" alt="user image">
<span class="username">Hi, John Doe</span>
</a>
<ul class="dropdown-menu">
  <li>
    <a href="#"><i class="icon-user"></i><span>My Profile</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-calendar"></i><span>My Calendar</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-logout"></i><span>Logout</span></a>
  </li>
</ul>