<li class="nav-parent"><a href="#"><i class="icon-puzzle"></i> <span>Your menu</span> <span class="fa arrow"></span></a>
  <ul class="children collapse">
    <li><a href="builder-email.php">Submenu 1</a></li>
    <li><a href="builder-page.php">Submenu 2</a></li>
    <li><a href="builder-admin.php">Submenu 3</a></li>
  </ul>
</li>