<div class="topnav">
    <a class="menutoggle"><button class="menu__handle"><span>Menu</span></button></a>
    <ul class="nav nav-horizontal">
        <li class="active">
          <a href="app-mailbox.php">
            <span class="pull-right badge badge-primary">8</span><i class="icon-envelope"></i> <span>Menu 1</span>
          </a>
        </li>
        <li><a href="email.html"><i class="icon-bar-chart"></i><span>Menu 2</span>
        </a>
        </li>
        <li class="nav-parent">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="30">
            <i class="fa fa-list"></i>Menu 3<i class="icons-arrows-06"></i>
          </a>
          <ul class="dropdown-menu children">
              <li><a href="#">Submenu 1</a></li>
              <li><a href="#">Submenu 2</a></li>
              <li><a href="#">Submenu 3</a></li>
          </ul>
        </li>
        <li><a href="email.html"><i class="icon-notebook"></i> <span>Menu 4</span></a></li>
    </ul>
</div>